@font-face {
  font-family: 'GT Walsheim';
  src: url('../assets/fonts/GTWalsheim/gt-walsheim-thin.ttf');
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('../assets/fonts/GTWalsheim/gt-walsheim-light.ttf');
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('../assets/fonts/GTWalsheim/gt-walsheim-medium.ttf');
}
